@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-size: 14px;
    font-family: 'Libre Baskerville', Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

table caption {
    font-family: 'Andada Pro', serif;
    font-size: 1.5em;
    font-variant: small-caps;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Andada Pro', serif;
    font-variant: small-caps;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    padding: 0px;
}

h1 {
    font-size: 1.8em;
    border-bottom: 1px solid rgb(200, 200, 200);
}

h2 {
    font-size: 1.6em;
    border-bottom: 1px solid rgb(200, 200, 200);
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

div {
    padding: 5px;
    margin: 10px;
    background-color: #f6f8fa;
    border-top: 1px solid #ABB3A1;
    border-bottom: 1px solid #ABB3A1;
    border-left: 1px solid #ABB3A1;
    border-right: 1px solid #ABB3A1;
}

p {
    padding: 3px;
    margin: 3px;
    text-indent: 0px;
}

blockquote {
    margin: 0 15px;
    border-left: 8px solid #917902;
    border-right: 8px solid #917902;
    padding: 0 15px;
    color: #000000;
    background-color: #fce77f;
}

blockquote blockquote {
    padding-right: 0;
}

hr .softline {
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: rgb(200, 200, 200);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    color: black;
    text-align: left;
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -20px;
    box-shadow: 5px 5px 5px black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt,h1 code {
    font-size: inherit;
}

h2 tt,h2 code {
    font-size: inherit;
}

h3 tt,h3 code {
    font-size: inherit;
}

h4 tt,h4 code {
    font-size: inherit;
}

h5 tt,h5 code {
    font-size: inherit;
}

h6 tt,h6 code {
    font-size: inherit;
}


li>ol,li>ul {
    margin: 0 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}

ul,ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 5px;
}

ul:last-child,
ol:last-child {
    margin-bottom: 5px;
}


table	{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 1em; 
    color: #000;
}

a {
    color: #4183C4;
    text-decoration:none;
}

code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
}

.paragraph {
	padding: 0px;
	margin-left: 10px;
}

.chapter {
	margin: 1px;
	margin-top: 8px;
	margin-left: 5px;
	padding: 0px;
	font-weight: bold; 
}

.floating {
	border: 2px solid grey;
	float:right;
}
.section {
	margin: 1px;
	margin-left: 15px;
	padding: 0px;
}

.div {
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	border: 0px;
}

.code {
	padding: 5px;
	margin: 10px;
	background-color: #f3f4f4;
	border-top: 1px solid #f3f4f4;
	border-bottom: 1px solid #f3f4f4;
	border-left: 1px solid #f3f4f4;
	border-right: 1px solid #f3f4f4;
}

.topbar	{
	border-bottom: 1px solid gray;
 background-color: #f6f8fa;
   	padding:0px;
	margin:0px;
	font-size:0.9em;
}

.overflow {
	margin:auto;
	border:0;
	background-color:#ffffff;
	height:92%;
	width:98%;
	overflow:auto
}

#write {
    max-width: 860px;
  	margin: 0 auto;
  	padding: 30px;
    padding-bottom: 100px;
}
#write > ul:first-child,
#write > ol:first-child{
    margin-top: 30px;
}

.bg	{
	background-color: #f8f8f8;
	}


.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}


.md-task-list-item > input {
  margin-left: -1.3em;
}

.md-fences {
	background-color: #f8f8f8;
}
#write pre.md-meta-block {
	padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

.md-mathjax-midline {
    background: #fafafa;
}

#write>h3.md-focus:before{
	left: -1.5625rem;
	top: .375rem;
}
#write>h4.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h5.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h6.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

.on-focus-mode blockquote {
    border-left-color: rgba(196, 151, 28, 0.12);
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state{
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}

#md-notification .btn {
    border: 0;
}

.dropdown-menu .divider {
    border-color: #e5e5e5;
}

.ty-preferences .window-content {
    background-color: #fafafa;
}

.ty-preferences .nav-group-item.active {
    color: white;
    background: #999;
}
*/