@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

html,
body {
	background-color: transparent;
}

.overlay {
	border: 2px solid #444444;
	border-radius: 8px;
	background-color: #dddddd;
	position: absolute;
	top: calc(100% - 100px);
	left: 5px;
	margin:0px;
	padding:4px;
	padding-right:0px;
	box-shadow: 5px 5px 5px rgba(128, 128, 128, 128);
}

img {
	opacity: 50%;
	width: 16px;
	height: 16px;
	margin-left:2px;
	margin-right:2px;
}

img:hover {
	opacity: 100%;
	cursor: pointer;
}

#main {
	display: block; 
	margin:0px;
	padding:0px;
}

#options {
	display: block; 
	margin:0px;
	padding:0px;
	margin-left:1px;
	margin-top:-5px;
}
#quill {
	width:64px;
	height:64px;
	margin-left:10px;
}

[data-tooltip] {
	display: inline-block;
}
[data-tooltip]:hover {
	position: relative;
}

[data-tooltip]:hover::before {
	all: initial;
	font-family: 'Libre Baskerville';
	font-weight: bold;
	border-radius: 3px;
	padding: 4px;
	border: 1px solid #222;
	background-color: white;
	content: attr(data-tooltip);
	color: #222;
	position: absolute;
	bottom: 50%;
	left: 50px;
	width: max-content;
	transform: translate(-50%, -20%);
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
    box-shadow:3px 3px 5px black; 
	z-index: 10;
}